:root {
	/*cores*/
	--preto: #000000;
	--branco: #FFFFFF;
	--cinza-escuro: #393939;

	/*fontes*/
	--fonte-principal: 'Inter', sans-serif;;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 1rem;
	font-weight: 400;
	font-family: var(--fonte-principal);
}

.cabecalho, .rodape {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.625rem;
	background-color: var(--preto);
	padding: 1rem;
	height: 18vh;
}

.cabecalho__logo, .rodape__logo {
	align-self: center;
	width: 80%;
}

.cabecalho__navegacao {
	display: flex;
	justify-content: space-around;
}

.cabecalho__navegacao-link {
	text-decoration: none;
	color: var(--branco);
}

.conteudo-principal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.625rem;
	width: 100%;
	padding: 0rem 1rem 1rem 1rem;
}

.conteudo-principal__titulo {
	text-align: center;
	margin-bottom: 0.5rem;
}

.conteudo-principal__titulo > p {
	margin-top: 0.5rem;
}

.secao-esportes {
	display: flex;
	flex-direction: column;
}

.esporte {
	display: flex;
	flex-direction: column;
	gap: 0.1875rem;
	padding: 1rem;
}

.esporte-imagem, .categoria-imagem {
	width: 100%;
	border-radius: 0.5rem;
	flex: 1 0 auto;
}

.secao-categorias {
	background-color: var(--cinza-escuro);
	color: var(--branco);
	display: flex;
	flex-direction: column;
	gap: 0.625rem;
	text-align: center;
	padding: 1rem;
}

.categoria-titulo {
	font-weight: 400;
}

.rodape__link-topo {
	align-self: center;
	text-decoration: none;
	color: var(--branco);
	font-size: 1rem;
}

@media (width >= 640px) {
	body {
		font-size: 1.125rem;
	}

	.cabecalho, .rodape {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 2rem 1rem 2rem;
	}

	.cabecalho__logo, .rodape__logo {
		width: 40%;
	}

	.cabecalho__navegacao {
		justify-content: space-around;
		gap: 1rem;
	}

	.secao-esportes {
		display: grid;
		grid-template-areas: 
		"esporte-boxe esporte-crossfit";
	}

	.esporte-boxe {
		grid-area: esporte-boxe;
	}

	.esporte-crossfit {
		grid-area: esporte-crossfit;
	}
}

@media (width >= 1024px) {
	.conteudo-principal {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-areas: 
		"conteudo-principal__titulo conteudo-principal__titulo conteudo-principal__titulo conteudo-principal__titulo"
		"secao-esportes secao-esportes secao-esportes secao-categorias";
		gap: 1rem;
		margin-top: 1rem;
	}

	.conteudo-principal__titulo {
		grid-area: conteudo-principal__titulo;
	}

	.secao-esportes {
		grid-area: secao-esportes;
	}

	.secao-categorias {
		grid-area: secao-categorias;
		margin-top: 1rem;
	}

	.cabecalho__logo, .rodape__logo {
		width: 20%;
	}

	.rodape__link-topo {
		font-size: 2rem;
	}
}

@media (width >= 1280px) {
	.secao-esportes {
		display: grid;
		grid-template-areas: 
		"esporte-boxe esporte-crossfit esporte-natacao";
	}

	.esporte-natacao {
		grid-area: esporte-natacao;
	}

	.esporte:hover {
		border: 0.0625rem solid var(--preto);
		border-radius: 0.5rem;
	}
}

@media (width >= 1440px) {
	body {
		font-size: 1.5rem;
	}

	.cabecalho__logo, .rodape__logo {
		width: 15%;
	}
}
